.conteudo{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(237, 241, 214);
}
.texto{
    width: 50%;
    margin: 5rem;
    margin-top: 12rem;
    font-family: 'Roboto', sans-serif;
}
.titulo{
    color: rgb(64, 81, 59);
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}
.imagem{
    margin: 5rem;
    margin-top: 10rem;
    width: 45%;
    border-radius: 100px;
}
.conteudo2{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(157, 192, 139);
}
.titulo2{
    color: rgb(237, 241, 214);
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}
